.techs{
  width: 100%;
  background-color: var(--alt--background);
}

.techs__container{
  padding: 100px 0;
  margin: 0 auto;
  width: calc(100% - 2 * 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techs__content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techs__subtitle{
  margin: 0 auto 30px auto;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
}

.techs__paragraph{
  width: 460px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0 auto 100px auto;
  text-align: center;
}

.techs__stacks{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  margin: 0 auto 100px auto;
}

.techs__stack{
  width: 90px;
  height: 60px;
  background-color: var(--grey-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
